extends layout

mixin fraction
  .fraction
    span.current.part 0
    | /
    span.total.part 0

mixin button(name)
  button.button(class=attributes.class)
    span.text= name
    .area ⬢

block content
  .viewport
    .background
    ul.pages
      li.page.intro
        h1.title
          | Know
          br
          | Your
          br
          | Siftie
        nav.buttons
          +button('Easy').easy
          +button('Hard').hard
      li.page.game
        .hud
          //- .probability
          .progress
            +fraction
          nav.buttons
            +button.next
        .person
          img.picture
          h3.name
          h4.title
      li.page.results
        .score
          +fraction
        ul.people
          li.person

block js
  script(src='/js/index.js')