doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="description" content="A simple way of getting to know your Sifties.")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1")

    link(rel='stylesheet', href='/css/index.css')

    title Know your Siftie!
  body
    block content
    block js