@import 'reset.styl'

html
  font-family ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight 100

html, body, .viewport, .pages, .page
  width 100%
  height 100%

textColor = #333

// A fraction
fraction(size)
  font-size size
  .part
    padding 0 size * 0.2

// A hexagon button
button(size, color)
  colorDifference = 20%
  shadowOpacity = 20%
  shadowSize = 10px
  position relative
  width size
  height size
  text-align center
  cursor pointer
  transition margin-top 200ms
  &:hover
    margin-top (shadowSize * 0.5)
  .area
    font-size size * 1.2
    position absolute
    top -50%
    left -(size * 0.04)
    color color
    transition text-shadow 200ms
    text-shadow 0 shadowSize rgba(lighten(color, colorDifference), shadowOpacity)
    &:hover
      text-shadow 0 (shadowSize * 0.5) rgba(lighten(color, colorDifference), shadowOpacity)
      color lighten(color, colorDifference)
  .text
    pointer-events none
    z-index 100
    position absolute
    font-size size * 0.3
    color white
    font-weight 100
    width 100%
    left 0
    top 30%

.background
  position absolute

.page
  position absolute
  
  &.intro
    .title
      width = 500px
      height = 400px 
      display block
      width width
      height height
      position absolute
      top 50%
      left 50%
      margin-left -(width * 0.5)
      margin-top -(height * 0.5)
      font-size 100px
      text-align center
      letter-spacing 10px
      line-height 1.1
    .buttons
      position absolute
      bottom 10%
      height 100px
      width 40%
      margin-left 30%
      .button
        size = 100px
        button(size, blue)
        &.easy
          float left
        &.hard
          float right

  &.game
    .hud
      position absolute
      width 100%
      height 100%
      
      .progress
        position absolute
        top 10px
        right 10px
        color rgba(lighten(textColor, 60%), 70%)
        fraction(30px)

      nav.buttons
        position absolute
        bottom 10px
        width 100%
        .next
          float right

    .person
      position absolute
      width 100%
      top 30%
      text-align center
      letter-spacing 2px
      
      .picture
        display block
        margin 0 auto
        width 30%
        border-radius 50%
      .name
        margin-top 5%
      .title
        margin-top 5%
      
        
  // &.game
  // &.results